<% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
    </aside>
      <div class="span8">
    <% if @user.projects.any? %>
      <h3>Projects - Author (<%= @user.projects.count %>)</h3>
      <ol class="microposts">
        <%= render @projects %>
      </ol>
      <%= will_paginate @projects %>
    <% end %>
     <% if @collab_projects.any? %>
      <h3>Projects - Collaborator (<%= @user.collab_projects.count %>)</h3>
      <ol class="microposts">
        <%= render @collab_projects %>
      </ol>
      <%= will_paginate @collab_projects %>
    <% end %>
    <h2>Total space remaining: <%= (100000000 - @total_files_size)/1000000.00 %> megabytes.</h2>
  </div>

  </div>
<% else %>
  <div class="center hero-unit">
    <h1>Welcome to Collaborave!</h1>
    <div id="home_message">
    <h2>
      Try out the Collaborave mixer below or signup to start your own project, upload tracks and save your own mixes!
    </h2>
  </div>
    <%= link_to "Sign up now!", signup_path,
                                class: "btn btn-large btn-primary" %>
  </div>
  
  <div class="row"> 
<div class="span9">  
<%= render 'projects/board' %>
</div>
<div class="span3">
    
    <% if @project.versions.any? %>
      <h3>Versions (<%= @project.versions.count %>)</h3>
      <ol class="microposts">
        <%= render @versions %>
      </ol>
      <%= will_paginate @versions %>
    <% end %>
   
  </div>
  </div>



<% end %>