<% provide(:title, @user.name) %>
<div class="content-container">
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
  <div class="span8">
    <% if @user.projects.any? %>
      <h3>Projects - Author (<%= @user.projects.count %>)</h3>
      <ol class="microposts">
        <%= render @projects %>
      </ol>
      <%= will_paginate @projects %>
    <% end %>
     <% if @collab_projects.any? %>
      <h3>Projects - Collaborator (<%= @user.collab_projects.count %>)</h3>
      <ol class="microposts">
        <%= render @collab_projects %>
      </ol>
      <%= will_paginate @collab_projects %>
    <% end %>
    
  </div>
</div>
</div>