<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
  <div class="span8">
    <% if @user.projects.any? %>
      <h3>Projects (<%= @user.projects.count %>)</h3>
      <ol class="microposts">
        <%= render @projects %>
      </ol>
      <%= will_paginate @projects %>
    <% end %>
    <h2>Total space remaining: <%= (100000000 - @total_files_size)/1000000.00 %> megabytes.</h2>
  </div>
</div>
