<% provide(:title, @project.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user, size: 150 %>
        <%= @project.name %>
        <br>
        by 
        <br>
        <%= @project.author.name %>
      </h1>
    </section> 
  </aside>
</div>
  
<div class="row"> 
  <div class="span9">  
    <%= render 'board' %>
  </div>
  <div class="span3">
    <h3>Versions (<%= @project.versions.count %>)</h3>
    <% if @project.versions.any? %>  
        <ol class="microposts">
          <%= render @versions %>
        </ol>
        <%= will_paginate @versions %>
    <% end %>
    <%= render 'versions/version_form' %>
  </div>
  <% if @user == current_user %> 

    <div class="span3">
   
      <% if @project.tracks.any? %>
        <h3>Tracks (<%= @project.tracks.count %>)</h3>
        <ol class="microposts">
          <%= render @tracks %>
        </ol>
        
      <% end %>
      <%= render 'tracks/trackform' %>
    </div>
  <% end %>

</div>





