<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag "application", media: "all",
                                           "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="container">
      <% flash.each do |k, v| %>
        <%= content_tag(:div, v, class: "alert alert-#{k}") %>
      <% end %>  
      <%= yield %>
      
      <%= debug(params) if Rails.env.development? %>
      <%= render 'layouts/footer' %>
    </div>

     
     
    <div class="modal fade" id="myModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Upload New Region</h4>
          </div>
          <div class="modal-body">  
              <%= form_for @region, html: { multipart: true } do |f| %>
                <%= f.file_field :path %>
                <%= f.hidden_field :track_id, value: 2 %>
                <%= f.hidden_field :start_time, value: 0 %>
                
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <%= f.submit "Upload", class: "btn btn-primary" %>
              <% end %>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

  </body>
</html>
